header {
  background-color: slategray;
  text-align: center;
  padding: 25px;
  font-size: 200%;
  border: darkslategrey;
  color: white;
  background-image: url(../img/background-image3.png);
  background-size: cover;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  background: fixed;
}

.nav_menu {
  overflow: hidden;
  background-color: slategray;
}

.nav_menu a {
  float: left;
  display: block;
  color: white;
  background-color: slategray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_menu a:hover {
  background-color: white;
  color: black;
}

.grid-container {
  display: flex;
  grid-template-columns: auto auto;
  gap: 10px;
  background-color: white;
}

.grid-container > div {
  background-color: white;
  grid-template-columns: auto auto;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: slategray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  width: auto;
  margin: auto;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

footer {
  background-color: slategray;
  text-align: center;
  padding: 15px;
  font-size: 100%;
  border: darkslategrey;
  color: white;
}
