.nv {
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    /*flex: 33.33%;*/
    padding: 5px;
    width: auto;
    height: auto;
   
  }

  .imgdim {
    width:100%;
    height:300px;
  }

  .centerimage1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 428px;
  }
  .centerimage {
    margin-left: 5%;
  }

  .centersmallimage {
    display: block;
    margin-left: auto;
    margin-right: 10px;
    width: 50%;
  }


  .product-main {
     background-color: white;
  }


.guide-container{
    display: flex;
    flex-wrap: wrap;
}

.guides {
  margin: 5px;
  border: 1px solid #ccc;
  /*width: 180px;*/
  width: 250px;
}

.guides:hover {
  border: 1px solid #777;
}

.guides img{
    width: 100%;
}

.guide-content2 {
  padding: 15px;
  text-align: center;
}


.guide-content1{
    text-align: left;
}
.guide-content1 h2{
    text-align: left;
}

@media screen and (max-width: 800px) {
    p#City-click {
        display: none;
    }
    
    .centerimage {
        margin-left: 2%;
      }

    .product-header {
        font-size: 30%;
    }  
}

@media screen and (min-width: 800px) {
    .places {
        display: none;
    }
}

.product-header { 
    background-image: url(../img/background-image3.png);
    background-size: cover;
    background-color: slategray;
    text-align: center;
    padding: 40px;
    font-size: 100%;
    border: darkslategrey;
    color: white;
    
}

.places-li {
    display: inline-block;
    margin: 0 10px;
    color:blue
}

.li-color {
    color: blue
}

.list-container {
  display:flex;
  align-items: flex-start;
  border: 1px solid #000;
  border-color: black;
}

.list1 {
  width: auto;
}

.list2 {
  margin-left: 40px;
  width: auto;
}

.layout-container1 {
  width:100%;
}

/*
picture{
    display: block; width: 100%; max-width: 500px;
    margin: 40px auto;
    
    
}


picture > * {
    max-width: 100%;
    
}
*/


