body   {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    background: fixed;
    }
    
    header { 
        background-color: slategray;
        text-align: center;
        padding: 25px;
        font-size: 200%;
        border: darkslategrey;
        color: white;
        background-image: url(../img/background-image3.png);
        background-size: cover;

    }
    .nav_menu {
            overflow: hidden;
            background-color: slategray;
           
        }
    .nav_menu a {
            float: left;
            display: block;
            color: white;
            background-color: slategray;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    .nav_menu a:hover {
            background-color: white;
            color: black;
    }
    .layout-container {
        width:100%;
     }
     main {
       width: 75%;
       float:left;
     }
     aside {
       width:25%;
       float:left;
       text-align: center;
     }
     .layout-container:after {
        clear:both;
     }
    h1 {
        text-align: center;
    }
    
    h2 {
        text-align: center;
        font-size: medium;
        margin-bottom: -100;    
    }
    
    footer{
        background-color: slategray;
        text-align: center;
        padding: 15px;
        font-size: 100%;
        border: darkslategrey;
        color: white;
    }

.centerimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 428px;
  }


container {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    
    text-align: center;
    border-style: solid;
    color: white;
    background-color: rgba(111, 150, 189, 0.953);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}